@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  background-image: radial-gradient(#464c5a, #303030);
}

.card {
  border-radius: 5px;
}

article {
  transition: all 0.2s ease-in-out;
}

article:hover {
  transition: all 0.2s ease-in-out;
  filter: contrast(1.9) grayscale(1);
  border-radius: 10px;
  cursor: pointer;
}

nav,
p {
  font-family: raleway;
}

a:hover {
  text-decoration: none;
}

#banner {
  transition: all 0.2s ease-in-out;
  animation-duration: 1s;
  animation-name: slidein;
}

#banner:hover {
  transition: all 0.2s ease-in-out;
  filter: blur(2px);
  filter: sepia(50%);
  border-radius: 10px;
  box-shadow: 0 0 2px #ddd;
  background: #fff;
  cursor: pointer;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}

.icon-bar a {
  transition: all 0.2s ease-in-out;
}

.icon-bar a:hover {
  /* background-color: #000; */
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}

.facebook {
  /* background: #3b5998; */
  color: white;
  transform: scale(1);
}

.instagram {
  /* background: #d5303e; */
  color: white;
  transform: scale(1);
}

.whatsapp {
  /* background: #25d366; */
  color: white;
  transform: scale(1);
}

.mail {
  /* background: #b96e6e; */
  color: white;
  transform: scale(1);
}

.borde {
  border-style: solid;
  border-color: black;
}

.bg-banner {
  background-color: #464c5a;
}
